*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.slider{
    width: 100vw;
    height: 80vh;
}
.home__head{
    width: 100vw;
    height: 800px;
    .home__head__continer{
        width: 70vw;
        height: 600px;
        position: absolute;
        margin-top: 100px;
        margin-left: 15vw;
        display: flex;
        .home__head__continer__txt{
            width: 35vw;
            height: 600px;
            h1{
                font-size: 50px;
                font-family:fantasy;
                margin-top: 50px;
                color: darkcyan;
            }
            p{  
                margin-top: 30px;
                color: darkcyan;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                line-height: 25px;
            }
            h3{
                margin-top: 30px;
                font-style: italic;
                color: darkcyan;
            }
            img{
                margin-top: 30px;
            }
        }
        .home__head__continer__foto{
            width: 35vw;
            height: 600px;
            display: flex;
            .home__head__continer__foto1{
                width: 15vw;
                height: 400px;
                margin-top: 100px;
                margin-left: 7vw;
                position: absolute;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .home__head__continer__foto2{
                width: 15vw;
                height: 400px;
                margin-left: 13vw;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
.home__body{
    width: 100vw;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    .home__body__continer{
        width: 70vw;
        height: 600px;
        display: flex;
        .home__body__continer__txt{
            width: 35vw;
            height: 600px;
            background-color: #1b745e;
            display: flex;
            align-items: center;
            justify-content: center;
            .home__body__continer__txt__con{
                width: 20vw;
                height: 250px;
                background-color: #1b745e;
                h1{
                    color: white;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

                }
                p{
                    color: white;
                    font-family:Verdana, Geneva, Tahoma, sans-serif;
                    line-height: 25px;
                    margin-top: 30px;

                }
                button{
                    width: 150px;
                    margin-top: 20px;
                    height: 40px;
                    border: none;
                    background-color: #d8e3d5;
                    color:#1b745e;

                }
            }
        }
        .home__body__continer__img{
            width: 35vw;
            height: 600px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
.home__carts{
    width: 100vw;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://mobirise.com/extensions/floram4/floral-studio/assets/images/background1-1-1085x595.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    .home__carts__continer{
        width: 70vw;
        height: 900px;
        .home__carts__continer1{
            width: 70vw;
            height: 450px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .home__carts__continer1_c1{
                width: 21vw;
                height: 400px;
                background-color: white;
                text-align: center;
                color: #1b745e;
                font-family:fantasy;
                img{
                    width: 100%;
                    height: 80%;
                }

            }
            .home__carts__continer1_c2{
                width: 21vw;
                height: 400px;
                background-color: white;
                text-align: center;
                color: #1b745e;
                font-family:fantasy;
                img{
                    width: 100%;
                    height: 80%;
                }

            }
            .home__carts__continer1_c3{
                width: 21vw;
                height: 400px;
                background-color: white;
                text-align: center;
                color: #1b745e;
                font-family:fantasy;
                img{
                    width: 100%;
                    height: 80%;
                }

            }

        }
        .home__carts__continer2{
            width: 70vw;
            height: 450px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .home__carts__continer2__c1{
                width: 21vw;
                height: 400px;
                background-color: white;
                text-align: center;
                color: #1b745e;
                font-family:fantasy;
                img{
                    width: 100%;
                    height: 80%;
                }
               

            }
            .home__carts__continer2__c2{
                width: 21vw;
                height: 400px;
                background-color: white;
                text-align: center;
                color: #1b745e;
                font-family:fantasy;
                img{
                    width: 100%;
                    height: 80%;
                }

            }
            .home__carts__continer2__c3{
                width: 21vw;
                height: 400px;
                background-color: white;
                text-align: center;
                color: #1b745e;
                font-family:fantasy;
                img{
                    width: 100%;
                    height: 80%;
                }

            }

        }
    }
}
.home__imgcart{
    width: 100vw;
    height: 1200px;
    text-align: center;
   p{
    line-height: 50px;
    font-style: italic;
    color: #1b745e;


   }
   h1{
    font-family: 'Quicksand', sans-serif;
    color: #1b745e;

   }
   h2{
    color: #1b745e;
   }


.home__imgcart__continer{
    width: 70vw;
    height: 800px;
    margin-left: 15vw;
    margin-top: 50px;
    .home__imgcart__continers{
        width: 70vw;
        height: 500px;
        display: flex;
        .home__imgcart__continer1{
            width: calc(70vw/3);
            height: 500px;
            img{
                width: 100%;
                height: 70%;
            }
    
        }
        .home__imgcart__continer2{
            width: calc(70vw/3);
            height: 500px;
            img{
                width: 100%;
                height: 70%;
            }
    
        }
        .home__imgcart__continer3{
            width: calc(70vw/3);
            height: 500px;
            img{
                width: 100%;
                height: 70%;
            }
    
        }
    }

    .home__imgcart__continer__txt{
        width: 100vw;
        height: 300px;
        display: flex;
        .home__imgcart__continer__txt1{
            width: 35vw;
            height: 300px;
            h1{
                margin-top: 100px;
                font-family: 'Quicksand', sans-serif;
            }

        }
        .home__imgcart__continer__txt2{
            width: 35vw;
            height: 300px;
            p{
                margin-top: 100px;
                line-height: 25px;
            }

        }

    }

}
}